<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Projectos <small>Lista de Diseños</small></h3>
        </div>


    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Aquí encontrarás todos los proyectos relacionados</p>

                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                        <tr>

                            <th style="width: 20%">Nombre</th>
                            <th>Miembros</th>
                            <th>Progreso</th>
                            <th>Estado</th>
                            <th style="width: 20%"># Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="project in projects">


                            <td>
                                <a>{{project.proyecto.nombre}}</a>
                                <br />
                                <small>Creado 10 Julio 2016</small>
                            </td>
                            <td>
                                <ul class="list-inline" ng-repeat="miembro in project.miembros">
                                    <li>
                                        <img src="images/user.png" class="avatar" alt="Avatar">&nbsp
                                        {{miembro.nombre}}
                                    </li>

                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                                </div>
                                <small>57% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Completado</button>
                            </td>
                            <td >
                                <div>
                                    <a href="" class=""><i class=""></i>Detallar</a>
                                    <a href="" class=""><i class=""></i>Configurar</a>
                                    <a href="" class=""><i class=""></i>Eliminar</a>
                                </div>
                            </td>

                        </tr>




                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>
</div>
