<body class="login">
<div >

    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>Ingresar al Sistema</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Correo Eléctronico"ng-model="login" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Contraseña" ng-model="password" required="" />
                    </div>
                    <div>
                        <button type="button" class="btn btn-success btn-sm" ng-click="ctrl.login()">Ingresar con email</button>


                        <a ng-click="openButton()">
                            <span class="fa fa-github"></span> Sign in with GitHub
                        </a>


                        <hr/>

                        <hr/>
                        <div class="text-center ">No tienes una cuenta ?, <a ui-sref="signup">Crear Cuenta</a></div>
                    </div>


                    <div class="clearfix"></div>

                    <div class="separator">


                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> SPLOT V3.0!</h1>
                            <p>©2016 Todos los derechos registrados. <br> SPLOT V3.0! fue desarollado por Sebastián Guevara. </p>
                        </div>
                    </div>
                </form>
            </section>
        </div>




    </div>
</div>
</body>
