<div class="">
    <div class="page-title">
        <div class="title_left">
            <h2>Configuración Interactiva de un Producto</h2>
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="row" ng-controller="configuracionCtrl">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    <!-- File Preview: JSON File -->
                    <!--<pre>{{msg}}</pre>
                    <pre>{{msg.data}}</pre>
                    <pre>{{msg.data.model.tree.children[0].children[0].children}}</pre>
                    <pre> "Name:"  {{msg.data.model.tree.name}}</pre>
                    <pre> "Type:"  {{msg.data.model.tree.type}}</pre>
                    <pre> "Estado:"  {{msg.data.model.tree.state}}</pre>-->



                    <h2>{{msg.data.model.name}}
                        <small> {{msg.data.model.name.tree.name}}</small>

                    </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <!--Creación los pasos del Wizard-->
                    <div id="wizard" class="form_wizard wizard_horizontal">

                        <ul class="wizard_steps" >
                            <li ng-repeat="child in msg.data.model.tree.children">
                                <a href="#step-1" >
                                    <span class="step_no">{{$index+1}}</span>
                                    <span class="step_descr">{{$index+1}}<br/>
                                        <small>{{child.name}}</small>
                                    </span>
                                </a>
                            </li>


                        </ul>

                        <div id="step-1" ng-show="actual == 1">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <ul class="list-unstyled timeline">
                                            <li ng-repeat="inicio in menuInicial">
                                                <div class="block">
                                                    <div class="tags">
                                                        <p class="tag" align="center">
                                                            {{inicio.minTitulo}}</p>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">
                                                            <a>{{inicio.titulo}}</a>
                                                        </h2><br/>
                                                        <p class="excerpt">{{inicio.contenido}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-repeat="child in msg.data.model.tree.children">
                            <!--First Child -->
                            <!--<h2>Children 1</h2>-->

                            <!-- Get the Id of the First Child -->
                            <!-- <pre> "Id:"  {{child.id}}</pre> -->

                            <!-- Get the Name of the First Child -->
                            <!--<pre> "Name:"  {{child.name}}</pre>-->

                            <!-- Get the Type of the First Child -->
                            <!--<pre> "Type 1:"  {{child.type}}</pre>-->

                            <!-- Get the State of the First Child -->
                            <!--<pre> "State:"  {{child.state}}</pre>-->

                            <div ng-repeat="child2 in child.children">

                                <!-- Second Child -->
                                <!--<h2>Children 2</h2>-->

                                <!-- Get the Id of the Second Child -->
                                <!--<pre> "Id:"  {{child2.id}}</pre>-->


                                <!-- Get the Name of the Second Child -->
                                <!--<pre> "Name:"  {{child2.name}}</pre> -->

                                <!-- Get the Type of the Second Child -->
                                <!--<pre> "Type 2:"  {{child2.type}}</pre>-->

                                <!-- Get the State of the Second Child -->
                                <!--<pre> "Type:"  {{child2.state}}</pre>-->


                                <div>
                                    <div id="step-{{child2.id}}" ng-show="indix2==child2.id && child2.min==1 && child2.max==1">
                                        <!--<h2>{{child2.id}}</h2>-->
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>{{child.name}}</h2>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="x_content">
                                                <br/>
                                                <form name="myForm">
                                                    <div class="col-md-55" ng-repeat="child4 in child2.children">
                                                        <div class="thumbnail">
                                                            <div class="image view view-first">
                                                                <img style="width: 100%; display: block;"
                                                                     src="images/4.jpg" alt="image"/>
                                                                <div class="mask">
                                                                    <p>{{child4.name}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="caption">
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="radio" value="{{child4.name}}"
                                                                               name=""
                                                                               ng-model="$parent.name"> {{child4.name}}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p><tt>myForm.$invalid: {{myForm.$invalid}}</tt></p>
                                                    <p><tt>Selected: {{name}}</tt></p>

                                                    <button ng-disabled="myForm.$invalid">Submit</button>

                                                </form>

                                            </div>

                                        </div>
                                    </div>

                                    <div id="step-{{child2.id}}" ng-show="indix2==child2.id && child2.min==1 && child2.max>=2">
                                        <!--<h2>{{child2.id}}</h2>-->
                                        <div class="x_panel">
                                            <div class="x_title">
                                                <h2>{{child.name}}</h2>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="x_content">
                                                <br/>
                                                <form name="myForm2">
                                                    <div class="col-md-55" ng-repeat="child5 in child2.children">
                                                        <div class="thumbnail">
                                                            <div class="image view view-first">
                                                                <img style="width: 100%; display: block;"
                                                                     src="images/4.jpg" alt="image"/>
                                                                <div class="mask">
                                                                    <p>{{child5.name}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="caption">
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="checkbox"
                                                                               ng-true-value="{{child5.name}}"> {{child5.name}}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p><tt>Selected: {{model}}</tt></p>

                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="child3 in child2.children">

                                    <!-- Third Child -->
                                    <!-- <h2>Children 3</h2> -->

                                    <!-- Get the Id of the Third Child -->
                                    <!--<pre> "Id:"  {{child3.id}}</pre> -->

                                    <!-- Get the Name of the Third Child -->
                                    <!--<pre> "Name:"  {{child3.name}}</pre> -->

                                    <!-- Get the Type of the Third Child -->
                                    <!--<pre> "Type:"  {{child3.type}}</pre>-->

                                    <!-- Get the State of the Third Child -->
                                    <!--<pre> "State:"  {{child2.state}}</pre>-->
                                </div>
                            </div>
                        </div>


                        <pregunta></pregunta>

                    </div>


                </div>
            </div>
        </div>



        <button type="button" class="btn btn-primary" style="margin-left: 40px" ng-click="disminuir()">Anterior</button>
        <button type="button" class="btn btn-success" ng-click="aumentar()">Siguiente</button>
        <button type="button" class="btn btn-default">Finalizar</button>


    </div>
</div>

