<body class="login">
<div>

    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form" >
            <section class="login_content"ng-show="form1">
                <form>
                    <h1>Crear Cuenta </h1>


                    <div>
                        <input type="number" class="form-control" placeholder="Identificación"ng-model="identificacion.value" required="" />
                    </div>
                    <br>


                    <div>
                        <button type="button" class="btn btn-success btn-sm" ng-click="verWH()">Sign in</button>                        <hr/>
                        <div class="text-center ">Ya estás registrado ?, <a ui-sref="login">Ingresa al Sistema</a></div>
                    </div>


                    <div class="clearfix"></div>

                    <div class="separator">


                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> SPLOT V3.0!</h1>
                            <p>©2016 Todos los derechos registrados. <br> SPLOT V3.0! fue desarollado por Sebastián Guevara. </p>
                        </div>
                    </div>
                </form>
            </section>


            <section class="login_content"ng-show="form2">
                <form>
                    <h1>Crear Cuenta Paso 2</h1>

                    <div>
                        <input type="text" class="form-control" placeholder="Nombre"ng-model="nombre" required="" />
                    </div>


                    <div>
                        <input type="text" class="form-control" placeholder="Direccion"ng-model="direccion" required="" />
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="Profesión"ng-model="profesion" required="" />
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="Correo Eléctronico"ng-model="login" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Contraseña" ng-model="password" required="" />
                    </div>



                    <div>
                        <button type="button" class="btn btn-success btn-sm" ng-click="agregarUsuario()">Sign in</button>                        <hr/>
                        <div class="text-center ">Ya estás registrado ?, <a ui-sref="login">Ingresa al Sistema</a></div>
                    </div>


                    <div class="clearfix"></div>

                    <div class="separator">


                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> SPLOT V3.0!</h1>
                            <p>©2016 Todos los derechos registrados. <br> SPLOT V3.0! fue desarollado por Sebastián Guevara. </p>
                        </div>
                    </div>
                </form>
            </section>
        </div>


    </div>
</div>
</body>
