<!-- page content -->
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center">
            <h1 class="error-number">Inactive User</h1>
            <h2>Cuenta Caducada</h2>
            <p>Su cuenta ha sido eliminada por un administrador. Conctatese de nuevo para obtener una nueva cuenta en SPLOT y disfrutar de todos los beneficios

                <br>
                <a ng-click="goOut()">Cerrar Sesión</a>
            </p>
        </div>
    </div>
</div>
<!-- /page content -->
