<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3 class="">Administración de Usuarios</h3>

        </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Formulario <small>Nuevo Usuario </small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left input_mask" name="userForm">

                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left"  placeholder="Nombre Completo"  ng-model="nombre" >
                            <span class="fa fa-user form-control-feedback left" ></span>
                        </div>



                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="number" class="form-control has-feedback-left" placeholder="Identificación"    ng-model="identificacion.value">
                            <span class="fa fa-sort-numeric-asc form-control-feedback left"></span>
                        </div>



                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="email" class="form-control"  name="userEmail" placeholder="Correo Eléctronico"  ng-model="login" >
                            <span class="fa fa-envelope form-control-feedback right" ></span>
                            <div role="alert">
                                <span class="error" ng-show="userForm.userEmail.$error.required">Este campo es requerido!</span>
                                <span class="error" ng-show="userForm.userEmail.$error.email">El correo no es válido!</span>
                            </div>
                        </div>



                        <div class="form-group">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Dirección Residencial" ng-model="direccion"  >
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Profesión" ng-model="profesion"  >
                            </div>

                        </div>
                        <div class="form-group">


                        </div>
                        <div class="form-group">

                            <div class="col-md-12 col-sm-12 col-xs-12">


                                <label>Tipo Usuario:</label>
                                <select class="form-control" ng-model="permiso"  >
                                    <option value="Configurador">Configurador </option>
                                    <option value="Lider">Lider de Proyectos</option>
                                    <option value="Administrador">Administrador</option>
                                </select>
                            </div>


                        </div>

                        <div class="ln_solid"></div>

                        <div class="group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-5 ">

                                <button class="btn btn-success" ng-click="agregarUsuarioWH()">Agregar</button>
                                <a type="button" href="" class="btn btn-info" >Cancelar</a>





                            </div>
                        </div>

                    </form>
                </div>
            </div>




        </div>


    </div>






</div>
